# Ignore local environment files (for development only)
.env.local
.env*.local
.env.example
.env*.example

# Ignore build artifacts
dist
node_modules

# Ignore git files
.git
.gitignore

# Ignore IDE files
.vscode
.idea

# Ignore test files
**/*.test.ts
**/*.test.tsx
**/*.spec.ts
**/*.spec.tsx
coverage
