# Copy this file to .env.local for local development
# Do not create .env directly, it will be overwritten by deployment scripts

VITE_BACKEND_URL=http://localhost:8190
VITE_WC_PROJECT_ID=[YOUR WALLETCONNECT PROJECT ID]
VITE_NFT_CONTRACT_ADDRESS_HARDHAT=[YOUR HARDHAT CONTRACT ADDRESS]
VITE_NFT_CONTRACT_ADDRESS_SEPOLIA=[YOUR SEPOLIA CONTRACT ADDRESS]
VITE_NFT_CONTRACT_ADDRESS_MAINNET=[YOUR MAINNET CONTRACT ADDRESS]
