FRONTEND_URL=http://localhost:5173
PORT=8190
HOST=0.0.0.0
LOG_LEVEL=info

# e.g. http://10.0.40.171:8084
CONNECTOR_CATALOG_QUERY_URL=[YOUR CONNECTOR CATALOG QUERY URL]
# e.g. http://10.0.40.171:8081
CONNECTOR_MANAGEMENT_URL=[YOUR CONNECTOR MANAGEMENT URL]
# e.g. http://10.0.40.172:11002/api/public
PROVIDER_QNA_PUBLIC_API=[YOUR PROVIDER QNA PUBLIC API URL]

API_KEY=password
