# Copy this file to .env for deployment configuration
# The .env file will be copied to frontend/.env during the build process

VITE_BACKEND_URL=http://10.0.40.172:8192
VITE_WC_PROJECT_ID=[YOUR WALLETCONNECT PROJECT ID]
VITE_NFT_CONTRACT_ADDRESS_HARDHAT=[YOUR HARDHAT CONTRACT ADDRESS]
VITE_NFT_CONTRACT_ADDRESS_SEPOLIA=[YOUR SEPOLIA CONTRACT ADDRESS]
VITE_NFT_CONTRACT_ADDRESS_MAINNET=[YOUR MAINNET CONTRACT ADDRESS]
