VITE_BACKEND_URL=http://10.0.40.171:8191
VITE_WC_PROJECT_ID=[YOUR WALLETCONNECT PROJECT ID]
VITE_NFT_CONTRACT_ADDRESS_HARDHAT=[YOUR HARDHAT CONTRACT ADDRESS]
VITE_NFT_CONTRACT_ADDRESS_SEPOLIA=[YOUR SEPOLIA CONTRACT ADDRESS]
VITE_NFT_CONTRACT_ADDRESS_MAINNET=[YOUR MAINNET CONTRACT ADDRESS]
