FRONTEND_URL=http://10.0.40.172:5175
PORT=8190
HOST=0.0.0.0
LOG_LEVEL=info

# e.g. http://10.0.40.172:4084
CONNECTOR_CATALOG_QUERY_URL=[YOUR CONNECTOR CATALOG QUERY URL]
# e.g. http://10.0.40.172:4081
CONNECTOR_MANAGEMENT_URL=[YOUR CONNECTOR MANAGEMENT URL]
# not required for provider backend
PROVIDER_QNA_PUBLIC_API=

API_KEY=password
